/*slider buttons colors*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4d4d4d;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2 {
  margin-bottom: 40px;
  text-align: center;
}
.wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}
.btn {
  display: inline-block;
  padding: 15px 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
header {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 50px;
  padding: 5px 0;
  border-bottom: 2px solid #808080;
}
header > .wrapper {
  margin-top: -10px;
}
.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
}
.main-nav-list .main-nav-item {
  position: relative;
}
.main-nav-list .main-nav-item:hover .main-nav-dropdown-list {
  z-index: 5;
  opacity: 1;
  top: 43px;
  left: 0;
}
.main-nav-list .main-nav-item .main-nav-link {
  position: relative;
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #4d4d4d;
  border: 1px solid #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.main-nav-list .main-nav-item .main-nav-link:hover {
  color: #36e36a;
  border: 1px solid #63e98b;
}
.main-nav-list .main-nav-item .main-nav-link:active {
  box-shadow: inset 0 2px 3px #808080;
}
.main-nav-list .main-nav-item .main-nav-dropdown-list {
  position: absolute;
  left: -20px;
  z-index: -5;
  width: 270px;
  padding-left: 0;
  list-style-type: none;
  background-color: white;
  border: 1px solid #36e36a;
  border-radius: 5px;
  opacity: 0;
  box-shadow: 5px 5px 10px #808080;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.main-nav-list .main-nav-item .main-nav-dropdown-list li:hover {
  background-color: #f7f7f7;
}
.main-nav-list .main-nav-item .main-nav-dropdown-list li a {
  display: block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #4d4d4d;
}
.main-nav-list .main-nav-item .main-nav-dropdown-list li a:hover {
  color: #36e36a;
}
main {
  margin-top: 50px;
  padding-bottom: 50px;
}
.blockquote {
  margin-bottom: 50px;
}
blockquote {
  font-size: 22px;
  text-align: center;
}
blockquote + span {
  display: block;
  text-align: right;
}
.about-myself {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 40px;
  background-image: url("../img/background-1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.about-myself-information {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 30px;
}
.about-myself img {
  margin-right: 100px;
  padding: 70px;
}
input[type="radio"] {
  display: none;
}
input[name="winter-fable"] + .btn,
label[for="season-winter"] {
  background-color: rgba(193, 236, 247, 0.5);
}
input[name="winter-fable"] + .btn:hover,
label[for="season-winter"]:hover {
  background-color: #c1ecf7;
}
input[name="spring-fable"] + .btn,
label[for="season-spring"] {
  background-color: rgba(165, 240, 168, 0.5);
}
input[name="spring-fable"] + .btn:hover,
label[for="season-spring"]:hover {
  background-color: #a5f0a8;
}
input[name="summer-fable"] + .btn,
label[for="season-summer"] {
  background-color: rgba(230, 216, 64, 0.5);
}
input[name="summer-fable"] + .btn:hover,
label[for="season-summer"]:hover {
  background-color: #e6d840;
}
input[name="autumn-fable"] + .btn,
label[for="season-autumn"] {
  background-color: rgba(255, 139, 66, 0.5);
}
input[name="autumn-fable"] + .btn:hover,
label[for="season-autumn"]:hover {
  background-color: #ff8b42;
}
.inner-slider-wrapper {
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#season-winter:checked ~ .inner-slider-wrapper {
  background-image: url(../img/winter-1.jpg);
}
#season-spring:checked ~ .inner-slider-wrapper {
  background-image: url(../img/spring-2.jpg);
}
#season-summer:checked ~ .inner-slider-wrapper {
  background-image: url(../img/summer-3.jpg);
}
#season-autumn:checked ~ .inner-slider-wrapper {
  background-image: url(../img/autumn-4.jpg);
}
#season-winter:checked ~ .inner-slider-wrapper > .slider .slide-1,
#season-spring:checked ~ .inner-slider-wrapper > .slider .slide-2,
#season-summer:checked ~ .inner-slider-wrapper > .slider .slide-3,
#season-autumn:checked ~ .inner-slider-wrapper > .slider .slide-4 {
  display: block;
}
.slide {
  display: none;
  height: 650px;
  padding-left: 10px;
}
.slide li {
  margin: 15px 0;
}
.slide li label {
  width: 240px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  padding: 10px;
}
.slider-controls label {
  border-radius: 5px;
  cursor: pointer;
}
ul.slide {
  position: relative;
  list-style-type: none;
}
ul.slide li .story {
  position: absolute;
  top: -30px;
  left: 300px;
  display: none;
  width: 800px;
  padding-top: 10px;
  text-indent: 30px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#winter-fable-1:checked ~ .story,
#winter-fable-2:checked ~ .story,
#winter-fable-3:checked ~ .story,
#winter-fable-4:checked ~ .story,
#winter-fable-5:checked ~ .story,
#spring-fable-1:checked ~ .story,
#spring-fable-2:checked ~ .story,
#spring-fable-3:checked ~ .story,
#spring-fable-4:checked ~ .story,
#spring-fable-5:checked ~ .story,
#summer-fable-1:checked ~ .story,
#summer-fable-2:checked ~ .story,
#summer-fable-3:checked ~ .story,
#summer-fable-4:checked ~ .story,
#summer-fable-5:checked ~ .story,
#autumn-fable-1:checked ~ .story,
#autumn-fable-2:checked ~ .story,
#autumn-fable-3:checked ~ .story,
#autumn-fable-4:checked ~ .story,
#autumn-fable-5:checked ~ .story {
  display: block;
}
.fancybox-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fancybox-gallery .fancybox-link {
  position: relative;
  width: 200px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
.fancybox-gallery .fancybox-link:hover {
  border: 2px solid #808080;
}
.fancybox-gallery .fancybox-link .fancybox-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.fancybox-gallery .fancybox-link .fancybox-overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
}
.fancybox-gallery .fancybox-link .fancybox-overlay span {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-size: 18x;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.fancybox-gallery .fancybox-link img {
  display: block;
  width: 100%;
  height: auto;
}
.journal-section-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid black;
}
.journal-section-item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 38%;
  position: relative;
}
.journal-section-item-image img {
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  cursor: pointer;
}
.journal-section-item-image img:hover {
  z-index: 5;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}
.journal-section-item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 58%;
}
.journal-section-item-desc a {
  display: block;
  margin: auto 20px 20px auto;
  padding: 10px;
  font-weight: 700;
  color: #36e36a;
  border: 2px solid #36e36a;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}
.journal-section-item-desc a:hover {
  color: white;
  background-color: #36e36a;
  border: 2px solid #63e98b;
}